<div class="row justify-content-center mt-4">
  <div class="col-11 col-sm-11 col-md-10 col-lg-8">

    <div class="row">
      <h2>Products Registration</h2>
    </div>

    <div class="row">
      <div class="col-3">
        <!-- <mat-form-field appearance="fill">
        <input matInput placeholder="Category" autocomplete="off" (keyup)="filterData($event)">
      </mat-form-field> -->
        <mat-form-field appearance="legacy">
          <mat-label>Filter by category</mat-label>
          <mat-select value="" (selectionChange)="onChange($event)">
            <button style="width: 100%;" class="m-0 p-0" mat-button (click)="getAllProducts()">
              <mat-option value="all">All
              </mat-option>
            </button>
            <mat-option *ngFor="let category of uniqCategories" value="{{category}}">{{category}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-3 col-sm-2 offset-6 offset-sm-7 mt-2">
        <button (click)="openNewModal(new)" mat-button color="primary"><i class="fa-solid fa-plus"></i><b>
            NEW</b></button>
      </div>
    </div>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Detail </th>
      <td mat-cell *matCellDef="let element"> <button mat-button (click)="eventoDetail(element.id)" ><i class="fa-solid fa-file-pen"></i></button> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="warn"
            (click)="openDeleteModal(delete, $event, element.id, element.name, element.category)"><i
              class="fa-solid fa-trash-can"></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 15, 20, 50, 100]">
    </mat-paginator>

    <ng-template #delete>
      <div class="modal-body text-center">
        <p>Are you sure to delete ({{ productName }} - {{ productCategory }}) ?</p>
        <button type="button" mat-button color="warn" (click)="confirm()">Yes, I am</button>
        <button type="button" mat-button color="primary" class="ms-1" (click)="decline()">No, I'm not</button>
      </div>
    </ng-template>

    <ng-template #new>
      <h2 mat-dialog-title class="p-3 m-0">New Product</h2>

      <mat-dialog-content class="mat-typography p-3 pb-0">
        <form [formGroup]="form">
          <div class="form-group mb-2">
            <mat-form-field appearance="legacy">
              <mat-label for="name">Name</mat-label>
              <input matInput placeholder="Sofa" [ngClass]="{'is-invalid': name.invalid && name.touched}" type="text"
                id="name" formControlName="name">
              <mat-hint *ngIf="(name.invalid && name.touched) || name.dirty">
                <p *ngIf="name.errors?.required">Name is mandatory</p>
                <p *ngIf="name.errors?.minlength">Minimum is 3 characters</p>
                <p *ngIf="name.errors?.maxlength">Maximum is 25 characters</p>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group mb-2">
            <mat-form-field appearance="legacy">
              <mat-label for="category">Category</mat-label>
              <input matInput placeholder="Forniture" [ngClass]="{'is-invalid': category.invalid && category.touched}"
                type="text" id="category" formControlName="category">
              <mat-hint *ngIf="(category.invalid && category.touched) || category.dirty">
                <p *ngIf="category.errors?.required">Category is mandatory</p>
                <p *ngIf="category.errors?.minlength">Minimum is 3 characters</p>
                <p *ngIf="category.errors?.maxlength">Maximum is 25 characters</p>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group mb-2">
            <mat-form-field appearance="legacy">
              <mat-label for="price">Price</mat-label>
              <input matInput placeholder="99.99" [ngClass]="{'is-invalid': price.invalid && price.touched}"
                type="number" id="price" formControlName="price">
              <mat-hint *ngIf="(price.invalid && price.touched) || price.dirty">
                <p *ngIf="price.errors?.required">Price is mandatory</p>
                <p *ngIf="price.errors?.max">Maximum number is 99999999</p>
              </mat-hint>
            </mat-form-field>
          </div>
        </form>
      </mat-dialog-content>

      <mat-dialog-actions align="end" class="p-3">
        <button type="button" mat-raised-button mat-dialog-close (click)="decline()">
          Cancel
        </button>
        <button type="submit" [disabled]="form.status === 'INVALID'" mat-raised-button color="primary" class="ms-2"
          (click)="addProduct()">Register</button>
      </mat-dialog-actions>
    </ng-template>

  </div>
</div>
