<div class="row justify-content-center mt-4">
  <div class="col-8">

    <h2>Products Registration</h2>

    <button>+ Product</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>${{product.price}}</td>
          <td><button class="ms-1"><i class="fa-solid fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
